<rn:block id="preResultList"/>
<% if (row_num) { %>
    <ol start='<%= start_num %>'>
<% } else { %>
    <ul>
<% } %>
<rn:block id="topResultList"/>
<% for (var i = 0; i < data.length; i++) { %>
    <rn:block id="resultListItem">
    <li>
        <span class='rn_Element1'><%= data[i][0] %></span>
        <% if (data[i][1]) { %>
        <span class='rn_Element2'><%= data[i][1] %></span>
        <% } %>
        <span class='rn_Element3'><%= data[i][2] %></span>
        <%  for (var j = 3; j < headers.length; j++) {
                var value = data[i][j];
                if ((typeof headers[j].visible === 'undefined' || headers[j].visible)
                    && (!hide_empty_columns || !(value === null || value === '' || value === false))) { %>
                <span class='rn_ElementsHeader'><%= ((headers[j].heading) ? headers[j].heading + ': ' : '') %></span>
                <span class='rn_ElementsData'><%= value %></span>
            <% } %>
        <% } %>
    </li>
    </rn:block>
<% } %>
<rn:block id="bottomResultList"/>
<% if (row_num) { %>
    </ol>
<% } else { %>
    </ul>
<% } %>
<rn:block id="postResultList"/>