<rn:block id="preFileInputLabel"/>
<label for="rn_<%= instanceID %>_FileInput" id="rn_<%= instanceID %>_Label">
<%= label %>
<% if(minAttachments) { %>
    <span class="rn_Required"> <%= requiredMarkLabel %></span><span class="rn_ScreenReaderOnly"><%= requiredLabel %></span>
<% } %>
</label>
<rn:block id="postFileInputLabel"/>